body {
  background: #121212;
  color: #eeeeee;
  font-family: 'Fira Mono', 'Courier New', Courier, monospace;
}
.container {
  max-width: 750px;
  margin: 60px auto;
  padding: 24px;
  background: #181A1B;
  border-radius: 16px;
  box-shadow: 0 0 20px #000a;
}
h2, p {
  text-align: center;
  margin: 16px 0 0 0;
}
input#search {
  display: block;
  width: 96%;
  margin: 18px auto;
  padding: 14px;
  font-size: 20px;
  background: #232324;
  color: #ececec;
  border: 2px solid #313134;
  border-radius: 10px;
}
#search-results {
  margin-top: 16px;
}
#tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 12px;
}
.tag-pill {
  background: #de6464;
  color: #343231;
  border-radius: 18px;
  padding: 10px 18px;
  margin: 7px;
  font-size: 17px;
  box-shadow: 0 1px 6px #0005;
  font-family: inherit;
  transition: background .2s;
}
.tag-pill:hover {
  background: #b93232;
  color: #eeeeee;
}
.data-status {
  text-align: center;
  margin-top: 30px;
  font-size: 17px;
  color: #a8a8a8;
}
